@import "../../vars.css";

.container {
  position: relative;
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 0.8),
    rgba(30, 30, 30, 0.7)
  );
  border-radius: 20px;
  padding: 60px;
  margin: 100px auto;
  z-index: 1;
  max-width: 80%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: scale(1.02);
}

.title {
  color: var(--color-text);
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(45deg, #f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textContent {
  color: var(--color-text);
  margin-top: 25px;
  font-size: 18px;
  text-align: justify;
}

.textContent p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 15px;
  position: relative;
  border-left: 4px solid var(--primary-color);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  transition: background 0.3s ease-in-out, transform 0.3s;
}

.textContent p:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
}

.textContent p::before {
  content: "✦"; /* You can replace with an actual icon */
  font-size: 18px;
  color: var(--primary-color);
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
}

.textContent p:hover::before {
  color: var(--accent-color);
}

@media screen and (max-width: 900px) {
  .container {
    max-width: 90%;
    padding: 40px;
  }

  .title {
    font-size: 30px;
  }

  .textContent p {
    font-size: 17px;
    padding: 10px;
  }

  .textContent p::before {
    font-size: 16px;
    left: -15px;
  }
}
