.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
  transition: background-color 0.5s ease;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 11;
}

.menuItems {
  display: flex;
  list-style: none;
  transition: transform 0.3s ease;
}

.menuItems li {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.menuItems li a, 
.cer {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.navText {
  margin-left: 0.5rem;
}

.menuItems li a:hover,
.cer:hover {
  color: #0073b1; /* LinkedIn color */
}

@media screen and (max-width: 1040px) {
  .menuItems {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

  .menuOpen {
    left: 0;
  }

  .menuItems li {
    padding: 1rem 0;
  }

  .menuItems li a {
    font-size: 2rem;
  }

  .menuBtn {
    display: block;
  }
}
